<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">POS Product Multiple UOM</h2>
        <h3 class="oe_slogan"></h3>
        <h4 class="oe_slogan"><a href="https://www.cybrosys.com">Cybrosys Technologies</a> </h4>
    </div>
    <div class="oe_row oe_spaced" style="padding-left:65px;">
	<h3><p style="margin-left: 42px;"><b>Features:</b></p></h3>
        <div>
            <span style="color:green;"> &#9745; </span> Multiple UOM for products in POS.<br/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_picture">
            <h3 class="oe_slogan">Overview</h3>
            <p class="oe_mt32 text-justify" style="text-align: center;">
               By default, Odoo does not provide the option to update the unit of measure
                    of the products we select in the point of sale. We can sell products only in its
                    default unit. This module provides an option to update the UOM of the products
                in point of sale. The stock will also be updated in the new UOM.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan"><b>New button added for opening the wizard.</b></h5>
        <div style="text-align:center;">
            <div class="oe_demo oe_picture  oe_screenshot">
                <img src="modify_uom_button.png">
            </div>
        </div>
        <br />
        <div class="oe_row oe_spaced">
             <h5 class="oe_slogan"><b>This button will open a wizard which will show all the UOMs
                 associated with the selected product.
             </b></h5>
         </div>
        <div class="col-md-12">
            <div class="oe_row_img oe_demo oe_picture oe_screenshot">
                <img src="multi_uom_wiz.png">
            </div>
        </div>
        <div class="oe_row oe_spaced">
             <p class="oe_slogan">
                We can select the UOMs available for this product and update it.
             </p>
        </div>

    </div>
</section>

<section class="oe_container oe_dark">
   	<div class="col-md-12">
	    <div class=" oe_demo oe_picture  oe_screenshot">
             <img src="orderlines.png" />
             <div class="oe_demo_footer oe_centeralign" style="background-color:rgba(162, 70, 137, 0.7);">
                Updated orderline
             </div>
	    </div>
	</div>
</section>

<section class="oe_container">
    <h2 class="oe_slogan" style="margin-top:20px;" >Need Any Help?</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
        <div>
            <a  class="btn btn-primary btn-lg mt8"
            style="color: #FFFFFF !important;border-radius: 0;" href="https://www.cybrosys.com"><i
            class="fa fa-envelope"></i> Email </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;"
            href="https://www.cybrosys.com/contact/"><i
            class="fa fa-phone"></i> Contact Us </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;"
            href="https://www.cybrosys.com/odoo-customization-and-installation/"><i
            class="fa fa-check-square"></i> Request Customization </a>
        </div>
        <br>
        <img src="cybro_logo.png" style="width: 190px; margin-bottom: 20px;" class="center-block">
        <div>
          <a href="https://twitter.com/cybrosys" target="_blank"><i class="fa fa-2x fa-twitter" style="color:white;background: #00a0d1;width:35px;"></i></a></td>
          <a href="https://www.linkedin.com/company/cybrosys-technologies-pvt-ltd" target="_blank"><i class="fa fa-2x fa-linkedin" style="color:white;background: #31a3d6;width:35px;padding-left: 3px;"></i></a></td>
          <a href="https://www.facebook.com/cybrosystechnologies" target="_blank"><i class="fa fa-2x fa-facebook" style="color:white;background: #3b5998;width:35px;padding-left: 8px;"></i></a></td>
          <a href="https://plus.google.com/106641282743045431892/about" target="_blank"><i class="fa fa-2x fa-google-plus" style="color:white;background: #c53c2c;width:35px;padding-left: 3px;"></i></a></td>
          <a href="https://in.pinterest.com/cybrosys" target="_blank"><i class="fa fa-2x fa-pinterest" style="color:white;background: #ac0f18;width:35px;padding-left: 3px;"></i></a></td>
        </div>
    </div>
</section>
