// United 3.3.5
// Variables
// --------------------------------------------------

//** Global text color on `<body>`.
@text-color:            #4c4c4c;


.o_input {
    color: #4c4c4c;
}

.o_form_view {
    .o_form_field .o_list_view {
        margin-bottom: 10px;

        > tfoot > tr > td {
            padding: 3px;
            color: white !important;
        }
    }
}